body {
    font-family: sans-serif;
    background-color: aliceblue;
}

a{
    text-decoration: none;
    color: blueviolet;
    border: 2px solid blueviolet;
    padding:5px;
    border-radius:8px;
} 

a:hover{
    text-decoration: none;
    color: rgb(103, 4, 195);
    border: 2px dashed rgb(103, 4, 195);
    padding:5px;
    border-radius:50px;
    transform: scale(1.1);
    transition: transform 0.5s;
} 

h1{
    color: rgb(11, 32, 253);
    border: 2px solid rgb(199, 213, 0);
    text-align: center;
    background-color: rgb(217, 141, 255);
    border-radius:10px;
    padding: 10px;
}
